<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Bookmarks</li>
  </ol>
</nav>
<p style="color: green"><%= notice %></p>
<header>
  <%= link_to "New bookmark", new_bookmark_path, class: "btn btn-primary float-end" %>
  <h1>Bookmarks</h1>
</header>
<table class="table" id="bookmarks">
<thead>
<th>Title</th>
<th>Shortay</th>
<th>Link</th>
</thead>
<tbody>
  <% @bookmarks.each do |bookmark| %>
    <%= render bookmark %>
  <% end %>
  </tbody>
</table>


