<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/bookmarks">Bookmarks</a></li>
    <li class="breadcrumb-item active" aria-current="page">New Bookmark</li>
  </ol>
</nav>

<h1>New bookmark</h1>
<hr>
<%= render "form", bookmark: @bookmark %>

